:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--text-bg-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus,
.nav-contacts .link:hover,
.nav-contacts .link:focus {
  color: var(--accent-color);
}

.nav-contacts a {
  color: var(--primary-text-color);
}

.button {
  color: var(--text-bg-color);
  background-color: var(--accent-color);
}

.button.footer {
  color: var(--text-bg-color);
  background-color: var(--accent-color);
}

.button-portfolio {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
}

.personal {
  background-color: var(--secondary-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
}

.addres {
  color: var(--secondary-bg-color);
}

h2 {
  color: var(--title-text-color);
}

h3 {
  color: var(--title-text-color);
}
