:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-bg-color: #ffffff;
}

body {
  background-color: var(--text-bg-color);
  color: var(--primary-text-color);
}

h2,
h3 {
  color: var(--title-text-color);
}
