:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--text-bg-color);
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.contacts-nav .link {
  color: var(--primary-text-color);
}

.page-nav .link:hover,
.page-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

h2,
h3 {
  color: var(--title-text-color);
}

h1 {
  color: var(--text-bg-color);
}

.our-comand {
  background-color: var(--secondary-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--text-bg-color);
}

.button-studio {
  background-color: var(--accent-color);
  color: var(--text-bg-color);
}

.button-portfolio {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--text-bg-color);
}
.accent-white {
  color: var(--text-bg-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
