:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --text-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
}

body {
  background-color: var(--text-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.contacts-nav .link {
  color: var(--primary-text-color);
}

.page-nav .link:hover,
.page-nav .link:focus,
.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: var(--accent-color);
}

.accent {
  color: var(--accent-color);
}

.accent-dark {
  color: var(--title-text-color);
}
h2,
h3 {
  color: var(--title-text-color);
}

.hero {
  color: var(--text-bg-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.our-comand {
  background-color: var(--secondary-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
  color: var(--text-bg-color);
  letter-spacing: 0.03em;
}

.button-studio {
  background-color: var(--accent-color);
  color: var(--text-bg-color);
  letter-spacing: 0.06em;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
}

.button-portfolio {
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--text-bg-color);
}
.accent-white {
  color: var(--text-bg-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav {
  letter-spacing: 0.02em;
}

.site-nav,
.page-nav .contacts-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

.details-h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.details {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

.profeshn {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
.our-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.addr-cont {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.filter-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  letter-spacing: 0.03em;
}

.filter-p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.filter-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}
